<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="czytam" verbose="1">
    <test name="Registration" enabled="true">
        <classes>
            <class name="RegistrationTest"/>
        </classes>
    </test>
    <test name="Login" enabled="true">
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test>
    <test name="Search" enabled="true">
    <classes>
        <class name="SearchTest"/>
    </classes>
    </test>
    <test name="Cart" enabled="true">
        <classes>
            <class name="CartTest"/>
        </classes>
    </test>
</suite>
